<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela</title>
</head>
<body>

<table width="100%" border="1">
    <thead>
        <th>Nome</th>
        <th>Usuario</th>
        <th>E-mail</th>
    </thead>

    <tbody>
        <tr>
            <td>Hallan</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Gabriel</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Paulo</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</body>
</html>